@charset "utf-8";
/* CSS Document */

body{ 
		background-color:#6FC;
		background-image: url(test/Basclass_Images/logo_blue.jpg); 
		background-repeat: repeat;
}
h1{
		margin-left:auto;
		margin-right:auto;
		padding: 0.5em;
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		color:#FFF;
		background-color:#00C;
		border-color: transparent;
		width:95%;
		line-height:28pt;
}
h3#index_table{
		margin-left:auto;
		margin-right:auto;
		padding: 0em;
		font-weight: bold;
		font-size: 14pt;
		text-align: center;
		color:#FFF;
		background-color:#33F;
		border-color: transparent;
		width:90%;
		line-height:16pt;
}	
div#title{
		margin-left:auto;
		margin-right:auto;
		padding: 0.5em;
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		color:#FFF;
		background-color:#00C;
		border-color: transparent;
		width:95%;
		line-height:28pt;
}
div#eng_title{
	font-weight:bold;
	font-size:18pt;
	color:red;
	background-color:white;
	text-align:center;
}
div#main {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
div.center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:600px;
	border:1px solid #cccccc;  
    position: relative;  
}
div#lower { 
    position: absolute;  
    right: 0;  
    bottom: 0; 
}
button.toplines {
	border:4px solid red;
	background-color:white;
	color:red;
	font-size:22px;
	font-weight:bold;
}
button.newmember {
	border:2px solid blue;
	background-color:#3FF;
	color:#0000FF;
	font-size:14px;
	font-weight:bold;
}
p.welcome {
	background-color:white;
	font-weight:bold;
	color:blue;
	text-align:right;
}
button.logout {
	border:4px solid red;
	background-color:red;
	color:white;
	font-size:14px;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:0;
}
table, td, th{
	margin-left:auto;
	margin-right:auto;
	border:2px black solid;
	font-size:16px;
	font-weight:bold;
	color:blue;
	background-color:white;
}
.tbl {
	border:2px slid #F00;
	background-color:#CCCCCC;
}
