@charset "utf-8";
/* CSS Document */
h1 {
	color:#FF0;
	text-align:center;
}
h3 {
	width: 600px;
	color:red;
}
body {
	background-color:#F00;
	font-weight:bold;
	color:white;
	font-size:20px;
	margin-left:auto;
	margin-right:auto;
}
input.submit {
	line-height: 26px; /* 文字の高さ */
	font-size:24px;
	font-weight:bold;
}
input.pw {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color:#FF6; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 400px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 0px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
	color:#F00;
}
table {
	margin-left:auto;
	margin-right:auto;
}
tr{
	height:40px;
}
div#alert{
	width:400px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	color:red;
	margin-left:auto;
	margin-right:auto;
}
div.center{
	margin-left:auto;
	margin-right:auto;
}